<div class="container spacer">
    <div class="panel panel-primary">
        <div class="panel-heading"> Liste des contacts</div>
        <div class="panel-body">
            <div class="form-group">
                <label> Mot clé: </label>
                <input type="text" [(ngModel)]="motCle" class="spacerLeft"/> 
                <button (click)="chercher()" class="btn btn-primary spacerLeft">Chercher</button>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date de naissance</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let contact of pagesContacts?.content"> <!-- ? : il va le considerer que s'il est différent de nul-->
                        <td>{{contact.id}}</td>
                        <td>{{contact.nom}}</td>
                        <td>{{contact.prenom}}</td>
                        <td>{{contact.dateNaissance}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.tel}}</td>
                        <td>
                             <a (click)="onEditContact(contact.id)" class="clickable">Edit</a>
                        </td>
                        <td>
                            <a (click)="onDeleteContact(contact)" class="clickable">Supprimer</a>
                        </td>
                    </tr>
                </tbody>
            </table>
             <div class="conainer">
                <ul class="nav nav-pills">
                    <!-- Pout [ngClass]; Je vais appliquer classe active css si 
                    la condition est verifié-->
                    <li *ngFor="let page of pages; let i=index"
                    [ngClass]="{'active': currentPage===i}"
                    class="clickable">
                        <!--Ce n'est pas la page qu'il faut afficher mais l'index de la page.
                        si on affiche la page {{page}}, il nous affichera que des zero
                        car on a initialiser la page à zero-->
                        <a (click)="gotoPage(i)">{{i}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

